body
{
    background: black;
    display: flex;
    justify-content: left;    
}


.footer 
{
    color: white;
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.site-header
{
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.menu ul li a
{
    color: white;
}

.menu ul li a.active
{
    color: red;
}

.contactformgoogle
{
    text-align: center;
    height: 100vh;
    padding-top: 3%;
    padding-bottom: 3%;
}

#contact-form
{
    width: 100%;
    height: 100%;
}

/*BLURRED OUT COMING SOON*/

.comingsoon
{
    top:50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    color: #000;
    text-align:center;
    z-index: 1;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 3px 3px 6px white;
}

.comingsoon h1
{
    font-size: 100px;
    letter-spacing: 15px;
}

.comingsoon hr
{
    width: 50%;
    margin: 20px auto;
    border: 2px solid #000;
}


.blurredout
{
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

#launch
{
    font-size: 40px;
}

button
{
    font-family: 'Fjalla One', sans-serif;
    background: none;
    border: 2px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.4s linear;
    padding: 12px 20px;
    min-width: 75px;
    margin: 10px;
    position: relative;
    margin-left: auto;
    color: white;
}

button:hover
{
    color: #fff;
}

button::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
}

button:hover::before
{
    transform: scaleY(1);
}

button
{
    color: black;
    border: 2px solid #000;
    position: absolute;
    left: 40%;
}


@media only screen and (min-width: 1900px)
{
    main
    {
        padding-top: 9%;
    }
}

@media only screen and (max-width: 1900px)
{
    main
    {
        padding-top: 10%;

    }
}

@media only screen and (max-width: 1700px)
{
    main
    {
        padding-top: 12%;
    }
}

@media only screen and (max-width: 1400px)
{
    main
    {
        padding-top: 14%;
    }
}

@media only screen and (max-width: 1300px)
{
    main
    {
        padding-top: 16%;
    }
}

@media only screen and (max-width: 1100px)
{
  main
  {
      padding-top: 18%;
  }
}

@media only screen and (max-width: 1000px)
{
  main
  {
      padding-top: 24%;
  }

}

@media only screen and (max-width: 700px)
{
  main
  {
      padding-top: 30%;
  }

}

@media only screen and (max-width: 600px)
{
  main
  {
      padding-top: 33%;
  }
}

@media only screen and (max-width: 500px)
{
  main
  {
      padding-top: 35%;
  }

}