body
{
    background: black;
    justify-content: left;    
}


.footer 
{
    color: white;
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.site-header
{
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.menu ul li a
{
    color: white;
}

.menu ul li a.active
{
    color: red;
}

.graphic2048
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.container 
{
   width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.container .row
{
    display: flex;
    flex-direction: row;  
}

.container .row img
{
    width: 40%;
}

.container .row .text
{
    font-family: 'Rajdhani', sans-serif;
    padding-top: 10%;
    width: 60%;
    color: white;
}

.container .row .text p
{
    font-size: 1.5em;
    text-align: center;
}

.container .row .text h3
{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 1%;
    font-weight: bold;
}


@media only screen and (min-width: 1900px)
{
    main
    {
        padding-top: 9%;
    }
}

@media only screen and (max-width: 1900px)
{
    main
    {
        padding-top: 10%;

    }
}

@media only screen and (max-width: 1700px)
{
    main
    {
        padding-top: 12%;
    }
}

@media only screen and (max-width: 1400px)
{
    main
    {
        padding-top: 14%;
    }
}

@media only screen and (max-width: 1300px)
{
    main
    {
        padding-top: 16%;
    }
}

@media only screen and (max-width: 1100px)
{
  main
  {
      padding-top: 18%;
  }
}

@media only screen and (max-width: 1000px)
{
  main
  {
      padding-top: 24%;
  }

}

@media only screen and (max-width: 700px)
{
  main
  {
      padding-top: 30%;
  }

}

@media only screen and (max-width: 600px)
{
  main
  {
      padding-top: 33%;
  }
}

@media only screen and (max-width: 500px)
{
  main
  {
      padding-top: 35%;
  }

}