body
{
    background: black;  
}


.footer 
{
    color: white;
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.site-header
{
    background: linear-gradient(150deg, rgba(42,46,53,4),rgba(29,32,38,0));
}

.menu ul li a
{
    color: white;
}

.menu ul li a.active
{
    color: red;
}

main
{
    padding-bottom: 5%;
}

.main-timeline a
{
    pointer-events: none;
    cursor: default;
}

.main-timeline
{
    overflow: hidden;
    position: relative;
   
}

.main-timeline::before
{
    content:"";
    width: 10px;
    height: 90%;
    border: 3px solid #bbbbbb;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.main-timeline .timeline
{
    width: 50%;
    padding: 10px 60px 10px 100px;
    float: right;
    position: relative;
}

.main-timeline .timeline::before
{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #9c0223;
    border: 5px solid white;
    box-shadow: 0 0 1px 5px #9c0223;
    position: absolute;
    top: 42px;
    left: -20px;
}

.main-timeline .timeline-content{
    display:block;
    background: #111111;
    padding: 70px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.main-timeline .timeline-content:hover
{
    text-decoration: none;
}

.main-timeline .date
{
    display: block;
    width: 80%;
    height: 50px;
    background:#9c0223;
    padding: 0 0 0 50px;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
    border-radius: 10px 10px 10px 0;
    position: absolute;
    top: 20px;
    left: -20px;
}

.main-timeline .date::before
{
    content: "";
    border-top: 40px solid #9c0223;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -60px;
    left: 0;
}

.main-timeline .title
{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    padding-top: 5%;
}

.main-timeline .description
{
    font-size: 1.5em;
    margin: 0 0 5px 0;
}

.main-timeline .timeline:nth-child(2n)
{
    padding: 10px 100px 10px 60px;
    text-align: right;
}

.main-timeline .timeline:nth-child(2n):before
{
    left:auto;
    right:-20px;
}

.main-timeline .timeline:nth-child(2n) .date
{
    padding-right: 50px;
    border-radius: 10px 10px 0 10px;
    left: auto;
    right: -20px;
}

.main-timeline .timeline:nth-child(2n) .date::before
{
    border-left: none;
    border-right: 20px solid transparent;
    left: auto;
    right: 0;
}

.main-timeline .timeline:nth-child(2)
{
    margin-top: 140px;
}

.main-timeline .timeline:nth-child(odd)
{
    margin:-140px 0 0 0;
}

.main-timeline .timeline:nth-child(even)
{
    margin-bottom: 60px;
}

.main-timeline .timeline:first-child, .main-timeline .timeline:last-child:nth-child(even)
{
    margin:0;
}

@media only screen and (min-width: 1900px)
{
    main
    {
        padding-top: 9%;
    }
}

@media only screen and (max-width: 1900px)
{
    main
    {
        padding-top: 10%;

    }
}

@media only screen and (max-width: 1700px)
{
    main
    {
        padding-top: 12%;
    }
}

@media only screen and (max-width: 1400px)
{
    main
    {
        padding-top: 14%;
    }
}

@media only screen and (max-width: 1300px)
{
    main
    {
        padding-top: 16%;
    }
}

@media only screen and (max-width: 1100px)
{
  main
  {
      padding-top: 18%;
  }
}

@media only screen and (max-width: 1000px)
{
  main
  {
      padding-top: 24%;
  }

}

@media only screen and (max-width: 700px)
{
  main
  {
      padding-top: 30%;
  }

}

@media only screen and (max-width: 600px)
{
  main
  {
      padding-top: 33%;
  }
}

@media only screen and (max-width: 500px)
{
  main
  {
      padding-top: 35%;
  }

}